.about__wrapper {
  width: 80%;
  max-width: 1220px;
  min-height: 320px;
  margin: 0 auto;
  margin-bottom: 100px;
  padding-left: 242px;
  background-repeat: no-repeat;
  background-size: 150px 320px;
  background-position: -8px top;
}

.webp .about__wrapper {
  background-image: url("/img/year.webp");

  @media (min-resolution: $retina-dppx) and (min-width: $vp-1024) {
    background-image: url("/img/year@2x.webp");
  }
}

.no-webp .about__wrapper {
  background-image: url("/img/year.png");

  @media (min-resolution: $retina-dppx) and (min-width: $vp-1024) {
    background-image: url("/img/year@2x.png");
  }
}

.about__title {
  margin: 0;
  padding: 0;
  margin-bottom: -5px;
  font-family: $ff-roboto;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  color: $color-black-pearl;
}

.about__text-wrapper {
  padding-bottom: 16px;
}

.about__text p {
  margin-bottom: 22px;
  font-family: $ff-pt-mono;
  font-size: 16px;
  line-height: 22px;
  color: $color-black-pearl;
}

.about__text.is-closed {
  display: none;
}

.about__button {
  min-width: 180px;
  padding-top: 14px;
  padding-bottom: 14px;
  background-color: transparent;
  border: 1px solid $color-deep-sky-blue;
  border-radius: 3px;
  color: $color-deep-sky-blue;
  text-transform: uppercase;
  font-family: $ff-roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  cursor: pointer;

  &:hover {
    background-color: $color-deep-sky-blue;
    border-color: transparent;
    color: $color-alice-blue;
  }

  &:focus,
  &:focus-within {
    background-color: $color-deep-sky-blue;
    border-color: transparent;
    color: $color-alice-blue;
    outline: none;
  }

  &:active {
    background-color: $color-deep-sky-blue-active;
  }
}

@media (max-width: $tablet-max-width) {
  .about__wrapper {
    min-width: 670px;
    margin-bottom: 80px;
    padding-left: 180px;
    background-position: -3px top;
  }

  .about__title {
    margin-bottom: -10px;
  }

  .about__text p:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: $mobile-max-width) {
  .about__wrapper {
    width: 84vw;
    min-width: 270px;
    padding: 0;
    margin-bottom: 67px;
  }

  .webp .about__wrapper,
  .no-webp .about__wrapper {
    background-image: none;
  }

  .about__title {
    font-size: 28px;
    line-height: 39px;
    margin-bottom: -3px;
  }

  .about__text-wrapper {
    padding-bottom: 13px;
  }

  .about__text p {
    margin-bottom: 19px;
    font-size: 14px;
    line-height: 19px;
    color: $color-black-pearl;
  }

  .about__text span {
    display: none;

    @media (min-width: $vp-375) {
      display: block;
    }
  }

  .about__button {
    min-width: 160px;
    padding-top: 7px;
    padding-bottom: 10px;
  }
}
