.benefits__wrapper {
  width: 90vw;
  max-width: 1220px;
  margin: 0 auto;
  padding-top: 120px;
  margin-bottom: 122px;
}

.benefits__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.benefits__item {
  border: 1px solid $color-bg-whisper;
  border-left: 5px solid $color-deep-sky-blue;
  padding: 39px 44px 34px 40px;
  max-width: 595px;

  &:hover {
    background-color: $color-deep-sky-blue;
    border-color: transparent;
  }
}

.benefits__item svg {
  margin: 0;
  padding: 0;
  margin-bottom: 14px;
  fill: $color-deep-sky-blue;
}

.benefits__item:hover svg {
  fill: $color-alice-blue;
}


.benefits__item h3 {
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
  font-family: $ff-roboto;
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  color: $color-deep-sky-blue;
}

.benefits__item:hover h3 {
  color: $color-alice-blue;
}

.benefits__item p {
  min-height: 120px;
  margin: 0;
  padding: 0;
  color: $color-black-pearl;
  font-family: $ff-pt-mono;
  font-size: 16px;
  line-height: 135%;
}

.benefits__item:hover p {
  color: $color-alice-blue;
}

@media (max-width: $tablet-max-width) {
  .benefits__wrapper {
    width: 87%;
    min-width: 670px;
    margin-bottom: 75px;
    padding-top: 80px;
  }

  .benefits__list {
    margin-left: 0;
    gap: 30px;
  }

  .benefits__item {
    min-height: 360px;
    min-width: 320px;
    padding-right: 35px;
    padding-bottom: 32px;
  }

  .benefits__item svg {
    margin-bottom: 8px;
  }

  .benefits__item h3 {
    margin-bottom: 7px;
  }
}

@media (max-width: $mobile-max-width) {
  .benefits__wrapper {
    width: 84vw;
    min-width: 270px;
    margin-bottom: 45px;
    padding-top: 50px;
  }

  .benefits__list {
    display: flex;
    flex-direction: column;
  }

  .benefits__item {
    padding: 29px 30px 37px 25px;
    min-width: 210px;
    min-height: 325px;
  }

  .benefits__item svg {
    width: 30px;
    height: 30px;
    margin-bottom: 9px;
  }

  .benefits__item:nth-child(n+3) svg {
    margin-bottom: 12px;
  }

  .benefits__item h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .benefits__item p {
    min-height: 190px;
    font-size: 14px;
  }

  .benefits__item:nth-child(n+3) p {
    min-height: 140px;
  }
}
