.feedback {
  min-height: 837px;
  background-color: $color-deep-sky-blue;
  background-image: url("../img/svg/polygon.svg");
  background-position: 0 0;
  background-size: 50%;
  background-repeat: no-repeat;
}

.feedback__container {
  width: 90vw;
  max-width: 1220px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 35px;
  margin: 0 auto;
  padding-top: 163px;
  padding-bottom: 248px;

  @media (max-width: $vp-1280) {
    grid-template-columns: 1fr 1.6fr;
  }
}

.feedback__bg-image {
  margin: 0;
  max-width: 510px;
  background-repeat: no-repeat;
  background-position: 0 55%;
  background-size: contain;
}

.webp .feedback__bg-image {
  background-image: url("../img/paper-airplane.webp");

  @media (min-resolution: $retina-dppx) and (min-width: $vp-1024) {
    background-image: url("../img/paper-airplane@2x.webp");
  }
}

.no-webp .feedback__bg-image {
  background-image: url("../img/paper-airplane.png");

  @media (min-resolution: $retina-dppx) and (min-width: $vp-1024) {
    background-image: url("../img/paper-airplane@2x.png");
  }
}

.feedback__wrapper {
  margin: 0;
  max-width: 100%;
}

.feedback__title {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  font-family: $ff-roboto;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  color: $color-default-white;
}

.feedback__text {
  margin: 0;
  padding: 0;
  margin-bottom: 35px;
  font-family: $ff-pt-mono;
  font-size: 16px;
  line-height: 22px;
  color: $color-default-white;
}

@media (max-width: $tablet-max-width) {
  .feedback {
    background-image: none;
    min-height: 580px;
  }

  .feedback__container {
    width: 87vw;
    max-width: 670px;
    padding-bottom: 125px;
    display: block;
    padding-top: 45px;
  }

  .feedback__bg-image {
    display: none;
  }

  .feedback__wrapper {
    width: 100%;
    min-width: 100%;
    padding: 0;
    margin-left: 0;
  }

  .feedback__title {
    margin-bottom: 6px;
  }

  .feedback__text {
    margin-bottom: 22px;
  }
}

@media (max-width: $mobile-max-width) {
  .feedback__container {
    width: 84vw;
    min-height: 750px;
    min-width: 270px;
    padding-bottom: 85px;
  }

  .feedback__title {
    max-width: 270px;
    margin-bottom: 10px;
    font-size: 30px;
    line-height: 42px;
  }

  .feedback__text {
    margin-bottom: 34px;
    font-size: 14px;
    line-height: 19px;
  }
}
