.intro {
  background-color: $color-black-pearl;
  background-repeat: no-repeat;
  background-size: cover;
}

.webp .intro {
  background-image: url("../img/background-image.webp");

  @media (min-resolution: $retina-dppx) and (min-width: $vp-1024) {
    background-image: url("../img/background-image@2x.webp");
    background-size: cover;
  }
}

.no-webp .intro {
  background-image: url("../img/background-image.jpg");

  @media (min-resolution: $retina-dppx) and (min-width: $vp-1024) {
    background-image: url("../img/background-image@2x.jpg");
    background-size: cover;
  }
}

.intro__wrapper {
  min-height: 880px;
  padding-top: 305px;
  padding-bottom: 282px;
  max-width: 1220px;
  margin: 0 auto;
}

.intro__container {
  margin-left: 124px;
}

.intro__title {
  margin: 0;
  padding: 0;
  margin-bottom: 32px;
  font-family: $ff-roboto;
  font-weight: 700;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: $color-alice-blue;
}

.intro__text {
  max-width: 685px;
  margin: 0;
  padding: 0;
  margin-bottom: 47px;
  font-family: $ff-pt-mono;
  font-size: 22px;
  line-height: 155%;
  color: $color-alice-blue;
}

.intro__button {
  display: inline-block;
  vertical-align: middle;
  background-color: $color-deep-sky-blue;
  color: $color-alice-blue;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.05em;
  padding: 15px 26px;
  border: 1px solid transparent;

  &:hover {
    background-color: $color-alice-blue;
    color: $color-deep-sky-blue;
    border: 1px solid $color-deep-sky-blue;
  }

  &:focus,
  &:focus-within {
    background-color: $color-alice-blue;
    color: $color-deep-sky-blue;
    border: 1px solid $color-deep-sky-blue;

    outline: none;
  }

  &:active {
    color: $color-deep-sky-blue-active;
  }

  .intro__button-text-mobile {
    display: none;
  }
}

@media (max-width: $tablet-max-width) {
  .intro {
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .webp .intro {
    background-image: url("../img/background-image-tablet.webp");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/background-image-tablet@2x.webp");
      background-size: cover;
    }
  }

  .no-webp .intro {
    background-image: url("../img/background-image-tablet.jpg");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/background-image-tablet@2x.jpg");
      background-size: cover;
    }
  }

  .intro__wrapper {
    min-height: 640px;
    padding-top: 180px;
    padding-bottom: 205px;
    max-width: 670px;
  }

  .intro__container {
    margin: 0;
  }

  .intro__title {
    margin-bottom: 0;
    font-size: 64px;
    line-height: 75px;
    letter-spacing: 0.07em;
  }

  .intro__text {
    margin-bottom: 57px;
  }

  .intro__button {
    margin-left: 45px;
  }
}

@media (max-width: $mobile-max-width) {
  .intro {
    background-repeat: no-repeat;
    background-size: cover;
  }

  .webp .intro {
    background-image: url("../img/background-image-mobile.webp");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/background-image-mobile@2x.webp");
      background-size: cover;
    }
  }

  .no-webp .intro {
    background-image: url("../img/background-image-mobile.jpg");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/background-image-mobile@2x.jpg");
      background-size: cover;
    }
  }

  .intro__wrapper {
    min-height: 560px;
    padding-top: 150px;
    padding-bottom: 190px;
    width: 84vw;
    margin-bottom: 0;
  }

  .intro__title {
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 8px;
  }

  .intro__text {
    width: 270px;
    font-size: 14px;
    margin-bottom: 45px;
  }

  .intro__button {
    min-width: 270px;
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    padding: 10px 35px;
  }

  .intro__button-text {
    display: none;
  }

  .intro__button .intro__button-text-mobile {
    display: inline;
  }
}
