.main-header {
  background: $black-pearl-down;
  position: fixed;
  width: 100%;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  z-index: 5;
}

.main-header__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
  max-width: 1220px;
  min-height: 120px;
  margin: 0 auto;
  margin-top: -5px;
  padding-right: 60px;

  @media (max-width: $vp-1280) {
    padding-right: 0;
  }
}

.main-header__contacts-list {
  max-width: 485px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 45px;
  padding: 0;
  margin-left: -8px;

  @media (max-width: $vp-1280) {
    grid-template-columns: 150px 210px;
    column-gap: 20px;
  }
}

.main-header__contacts-item {
  font-family: $ff-pt-mono;
  list-style: none;
  max-width: 225px;
}

.main-header__contacts-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: max-content;
  color: $color-alice-blue;
  font-size: 16px;
  line-height: 18px;
  fill: $color-deep-sky-blue;

  &:hover {
    color: $color-deep-sky-blue;
  }

  &:focus,
  &:focus-within {
    color: $color-deep-sky-blue;

    outline: none;
  }

  &:active {
    fill: $color-deep-sky-blue-active;
    color: $color-deep-sky-blue-active;
  }
}

.main-header__contacts-link svg {
  margin-right: 15px;
  fill: inherit;
}

.main-header__button {
  max-width: 220px;
  padding: 10px 15px;
  font-family: $ff-roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  color: $color-alice-blue;
  background-color: transparent;
  border-color: $color-alice-blue;

  &:hover {
    background-color: $color-deep-sky-blue;
    border-color: transparent;
  }

  &:focus,
  &:focus-within {
    background-color: $color-deep-sky-blue;
    border-color: transparent;
    outline: none;
  }

  &:active {
    background-color: $color-deep-sky-blue-active;
  }
}

@media (max-width: $tablet-max-width) {
  .main-header {
    position: absolute;
  }

  .main-header__wrapper {
    width: 84vw;
    min-width: 670px;
    min-height: 100px;
  }

  .main-header__contacts-list {
    min-width: 285px;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 6px;
    padding: 0;
    padding-right: 20px;
  }

  .main-header__contacts-link {
    padding: 10px;
  }

  .main-header__contacts-link svg {
    margin: 0;
  }

  .main-header__contacts-link span {
    display: none;
  }

  .main-header__button {
    display: none;
  }
}

@media (max-width: $mobile-max-width) {
  .main-header__wrapper {
    width: 84vw;
    min-height: 70px;
    min-width: 260px;
  }

  .main-header__contacts-list {
    min-width: 185px;
    margin-top: 14px;
    padding-right: 9px;
  }

  .main-header__logo img {
    width: 35px;
    height: 35px;
  }
}
