.products {
  background-color: $color-black-pearl;
}

.products__wrapper {
  width: 90vw;
  max-width: 1220px;
  margin: 0 auto;
  padding-top: 64px;
  padding-bottom: 145px;
}

.products__title {
  padding: 0;
  margin: 0;
  font-family: $ff-roboto;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  color: $color-default-white;
  margin-bottom: 52px;
}

.products__title-text-mobile {
  display: none;
}

.products__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 650px;
  column-gap: 4.4vw;
  row-gap: 10vh;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (max-width: $tablet-max-width) {
  .products__wrapper {
    width: 84vw;
    min-width: 670px;
    padding-top: 52px;
    padding-bottom: 75px;
  }

  .products__title {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 40px;
  }

  .products__list {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 0;
    row-gap: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

@media (max-width: $mobile-max-width) {
  .products__wrapper {
    min-width: 270px;
    padding-top: 47px;
    padding-bottom: 86px;
  }

  .products__title {
    font-size: 28px;
    line-height: 39px;
    margin-bottom: 29px;
  }

  .products__title-text {
    display: none;
  }

  .products__title-text-mobile {
    display: block;
  }
}
